* {
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 0.1em;
    min-width: 250px;
}

.displayPort {
    width: 100%;
    background-color: rgb(16, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    color: aliceblue;
    padding: 0 0.5em;
}

.total {
    color: rgb(0, 255, 0);
}

Button {
    background-color: rgb(212, 243, 248);
    color: rgb(0, 0, 0);
    height: 2em;
    min-height: 1em;
    width: 33%;
}

.buttons {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.num {
    background-color: rgb(248, 255, 176);
}

Button:hover {
    background-color: rgb(187, 231, 169);
}

Button:active {
    font-weight: 1000;
}